.carousel .thumb.selected,
.carousel .thumb:hover {
  border: 3px solid #fff;
}

.carousel .thumb {
  border: 3px solid #333;
}

.carousel.carousel-slider .control-arrow:hover {
  background: rgba(0, 0, 0, 0.4);
}

.carousel.carousel-slider .control-arrow {
  top: 0;
  color: #fff;
  font-size: 26px;
  bottom: 0;
  margin-top: 0;
  padding: 5px;
  width: 50px;
}

.carousel .carousel-status {
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px 25px;
  font-size: 16px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.9);
  color: #fff;
}
