@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Montserrat&display=swap");

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(15, 12, 52);
  background: linear-gradient(
      180deg,
      rgba(15, 12, 52, 1) 52%,
      rgba(41, 30, 88, 1) 78%,
      rgba(97, 59, 81, 1) 92%,
      rgba(112, 81, 67, 1) 99%
    )
    no-repeat center center fixed;

  color: white;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
  /* color: #a77898; */
}

html,
body {
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
